[submodule "RAG_Project"]
	path = RAG_Project
	url = https://github.com/Abdelilah04116/RAG_Project.git
[submodule "WebScrapingAgentAutomationCrew"]
	path = WebScrapingAgentAutomationCrew
	url = https://github.com/your-username/WebScrapingAgentAutomationCrew.git
